# Model building requirements
numpy
pandas
joblib
scikit-learn
scipy
pytest
fastapi
pydantic
uvicorn
gunicorn
hyperopt
mlflow
xgboost
python-multipart
prometheus_fastapi_instrumentator
boto3
setuptools<70.0.0
evidently==0.4.1

