# Model building requirements
numpy<2.0
pandas
joblib
scikit-learn
scipy
pytest
fastapi
pydantic==1.10.2

iterative-telemetry==0.0.5
uvicorn
gunicorn
hyperopt
mlflow
xgboost
python-multipart
prometheus_fastapi_instrumentator
boto3
setuptools<70.0.0
evidently==0.4.33

